    <header>
        <div class="container">
            <p class="logo">Destinos 2022</p>
            <nav>
                <a href="/inicio">Home</a>
                <a href="/destinos">Destinos</a>
            </nav>
            </div>
    </header>
<main>
    <br>
    <br>
    <br>
    <br>
    <br>


    
    <section>
          
    <form action="contact" method="POST" class="contacto">
        {{#if statusMessage}}
        <div class="alert alert-warning alert-dismissable fade show" role="alert">

        {{statusMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#each arrWarnings}}
    
        <p>{{message}}</p>

        </div>
        {{/each}}

        <label for="name" hidden>ingrese nombre</label>
        <input type="text" name="name" id="name" placeholder="name"  autofocus {{#if formData.name}} value="{{formData.name}}" {{/if}}>
       
        <label for="lastName" hidden>ingrese lastname</label>
        <input type="text" name="lastName" id="lastName" placeholder="lastName" {{#if formData.lastName}} value="{{formData.lastName}}" {{/if}}>
       
        <label for="email" hidden>ingrese email</label>
        <input type="text" name="email" id="email" placeholder="email"  {{#if formData.email}} value="{{formData.email}}" {{/if}}>
       
        <label for="message" hidden>ingrese mensaje</label>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="mensaje">{{formData.message}}</textarea>
       
        <input type="submit" value="enviar">

      </form>  





    </section>

</main>
